<link rel="stylesheet" href="/css/Navbar.css">

<nav class="globalNav__nav bg-white">
    <div class="globalNav__logoContainer">
        <a href="/"><img src="/images/starbucks-icon.svg" alt="Starbucks logo" width="50"></a>
    </div>
    
    <div class="globalNav__wrapper">
        <div class="primaryNav">
            <ul class="flex">
                <li><a href="/menu">MENU</a></li>
                <li><a href="/rewards">REWARDS</a></li>
                <li><a href="/gift-cards">GIFT CARDS</a></li>
            </ul>
        </div>
        
        <div class="auxilaryNav">
            <a href="/store-locator" class="find-store">
                <span class="pin-icon">📍</span> Find a store
            </a>
            <a href="/login" class="btn btn-signin">Sign in</a>
            <a href="/register" class="btn btn-join">Join now</a>
        </div>
    </div>
</nav>